<!DOCTYPE html>  
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS, JS 불러오기 -->
    <link rel="stylesheet" href="../static/css/style.css"></link>
    <script defer src="../static/js/main.js"></script>
    <!--
        defer & async: 브라우저가 HTML 분석(파싱)과 동시에 .js를 다운로드하도록 명령.

        [     ] HTML 파싱 끝나고 다음 순서로 .js 다운로드, 그 뒤에 .js 실행
        [defer] .js 다운로드, HTML 파싱 둘 다 끝나고 .js 실행
        [async] .js 다운로드가 끝나면 HTML 파싱을 일시중단하고 .js 실행

        <출처>
        https://www.daleseo.com/js-script-defer-async/
        https://wormwlrm.github.io/2021/03/01/Async-Defer-Attributes-of-Script-Tag.html
    -->

    <!-- jQuery 적용 -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

    <!-- 폰트어썸 적용 -->
    <script src="https://kit.fontawesome.com/6655fda58f.js" crossorigin="anonymous"></script>

    <!-- 크롤링 설정 적용 -->
    <meta property="og:image" content="https://raw.githubusercontent.com/waypil/portfolio/main/resources/image/banner.png" />
    <meta property="og:title" content="Shoot & Dodge [Free Download!]">
    <meta property="og:description" content="Simple Retro Arcade Shooting Game">

    <link rel="shortcut icon" href="{{ url_for('static', filename='../static/resources/icon/favicon.png') }}">
    <title>Shoot & Dodge | Free-Game ©WAYPIL</title>
</head>

<body>
    <header>
        <div class="inner">
            <div id="titleBox">
                <h1> <a href="#">Shoot & Dodge</a> </h1>
            </div>

            <nav id="gnb">  <!-- global navi. bar : 전역 이동 메뉴바 -->
                <li> <a href="#" id="navBtn">WAYPIL</a> </li>
                <li> <a href="#" id="navBtn">MANUAL</a> </li>
                <li> <a href="#" id="navBtn">NEWS</a> </li>
                <li>
                    <a href="https://www.youtube.com/@waypil" target="_blank" id="youtubeNavBtn">
                        <i class="fa-brands fa-youtube"></i>
                        <p>YOUTUBE</p>
                    </a>
                </li>
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.Waypil.ShootDodge" target="_blank" id="downloadNavBtn">
                        <i class="fa-brands fa-google-play"></i>
                        <p>DOWNLOAD</p>
                    </a>
                </li>
            </nav>
            
            <div id="menuBtn">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </div>

            <div id="lastDummy"></div>
        </div>
    </header>

    <figure>
        <iframe src="https://www.youtube.com/embed/1WrYWQSHwBk?autoplay=1&mute=1&controls=0&loop=1&playlist=1WrYWQSHwBk" title="Shoot & Dodge (Game Trailer)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <!--
            <i class="fas fa-chevron-circle-down" onclick="gotoScroll('footer')"></i>
        -->
    </figure>

    <main>
        <!--
        <h1>Simple Retro Arcade Shooting Game</h1>
        <h1>여태껏 이런 슈팅 게임은 없었다!</h1>
        <h1>적을 죽여도 죽인 게 아니다!</h1>
        <h1>당신이 발사한 총알까지도 무시할 수 없다!</h1>
        <h1>끝까지 방심하지 마라!</h1>
        -->
    </main>

    <section>
        <article></article>
        <article></article>
        <article></article>
        <article></article>
    </section>

    <section id="charactersInfo">
        <article>
            <h1>플레이어</h1>
            <div class="charFlexBox">
                <img src="../static/resources/image/bulletian-player.png" alt="bulletian-player">
                <div class="charDescr">
                    <p>버티저크로 위장하여 적의 기지에 침입한 스파이.</p>
                    <p>적의 기지를 최대한 난장판으로 만들라는 임무를 받았다.</p>
                </div>
            </div>
        </article>
        <article>
            <h1>호리저크</h1>
            <div class="charFlexBox">
                <img src="../static/resources/image/bulletian-horizork.png" alt="bulletian-horizork">
                <div class="charDescr">
                    <p>공중에 떠 있는 경비병.</p>
                    <p>플레이어가 있는 수평 방향으로 총알을 발사하면서 일직선으로 날아온다.</p>
                </div>
            </div>
        </article>
        <article>
            <h1>버티저크</h1>
            <div class="charFlexBox">
                <img src="../static/resources/image/bulletian-vertizork.png" alt="bulletian-vertizork">
                <div class="charDescr">
                    <p>천장과 바닥에 붙어 있는 경비병.</p>
                    <p>수직 방향으로 총알을 발사하면서 플레이어가 있는 방향으로 다가온다.</p>
                </div>
            </div>
        </article>
        <article>
            <h1>미스티저크</h1>
            <div class="charFlexBox">
                <img src="../static/resources/image/bulletian-mystizork.png" alt="bulletian-mystizork">
                <div class="charDescr">
                    <p>실제 게임에 등장하지 않는다.</p>
                    <p>v1.3 이후에 등장할 예정이었으나, 업데이트가 중단되면서 영원히 역사 속에 묻힌 캐릭터가 되었다.</p>
                </div>
            </div>
        </article>
    </section>

    <aside>

    </aside>

    <footer>
        <div id="body">
            <div id="left">
                <div id="upper">
                    <nav id="column">
                        <ul>
                            <li> <a href="#">이용약관</a> </li>  <!-- Policy & Terms -->
                            <li> <a href="#">개인정보처리방침</a> </li>
                            <li> <a href="#">저작권정책</a> </li>
                            <li> <a href="#">이메일무단수집거부</a> </li>
                            <li> <a href="#">문의</a> </li>  <!-- Contect -->
                            <li> <a href="#">사이트맵</a> </li>
                        </ul>
                    </nav>
                        
                    <nav id="icons">
                        <a href="https://play.google.com/store/apps/details?id=com.Waypil.ShootDodge" target="_blank">
                            <i class="fa-brands fa-google-play"></i>
                        </a>

                        <a href="https://www.youtube.com/@waypil" target="_blank">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a href="https://github.com/waypil" target="_blank">
                            <i class="fa-brands fab fa-github"></i>
                        </a>
                    </nav>
                </div>
                
                <div id="lower">
                    <div id="license">
                        <h1> <a href="#">Shoot & Dodge</a> </h1>
                        <address></address>
                        <p>Copyright 2022-2023. WAYPIL All Rights Reserved.</p>
                    </div>
                </div>
            </div>
            
            <div id="right">
                <a href="https://www.grac.or.kr" target="_blank">
                    <img src="../static/resources/image/204px-GRAC_All.png" alt="게임등급_전체이용가">
                </a>
            <div>
        </div>
        
    </footer>
</body>

</html>



<!--
<article>
    <img src="../static/resources/image/bulletian-player.png" alt="bulletian-player">
    <div id="charInfo">
        <div id="charName">
            <a href="##" class="ko active" onclick="radioCharInfoLanguage('ko')">플레이어</a>
            <a href="##" class="en" onclick="radioCharInfoLanguage('en')">Player</a>
            <a href="##" class="ja" onclick="radioCharInfoLanguage('ja')">プレーヤー</a>
        </div>
        <div id="charDescr">
            <div class="ko visible">
                <p>버티저크로 위장하여 적의 기지에 침입한 스파이.</p>
                <p>적의 기지를 최대한 난장판으로 만들라는 임무를 받았다.</p>
            </div>
            <div class="en">
                <p>A spy disguised as a Vertizork and infiltrating an enemy base.</p>
                <p>They are tasked with making the enemy base as chaotic as possible.</p>
            </div>
            <div class="ja">
                <p>バーティゾークを装って敵の基地に侵入したスパイ。</p>
                <p>できるだけ敵の基地を荒らしまくるという任務を担っている。</p>
            </div>
        </div>
    </div>
</article>
-->